<div class="page-container">
    <div class="page-container-inner">
        <div class="demo-summary-container">
            <div class="container">
                <div class="row">
                    <div class="span12">
<% if (fpsStatsAvailable) { %>
                        <h2>Thank you! </h2>
                        <p>FPS (average): <%= fpsStats.avgFPS%></p>
                        <p>FPS (max): <%= fpsStats.maxFPS%></p>
                        <p>FPS (min): <%= fpsStats.minFPS%></p>
<% } %>

                        <p>Please <a href="#" class="demo-link">click here</a>
                            if you want to repeat the demo.
                        </p>

<% if (globalFpsStatsAvailable) { %>
                        <h3>Global stats </h3>
                        <p>FPS (average): <%= globalFpsStats.avgFPS%></p>
                        <p>FPS (max): <%= globalFpsStats.maxFPS%></p>
                        <p>FPS (min): <%= globalFpsStats.minFPS%></p>
<% } else if (globalFpsStatsLoading) { %>
                        <p>Global stats are loading, this will take
                            a while...</p>
<% } %>


                    </div>
                </div>
            </div>
        </div> <!-- .list-container -->

        <div class="toolbar-container"></div> <!-- .toolbar-container -->
    </div> <!-- .page-container -->
</div> <!-- .page-outer-container -->
